<%- include("Navbar.ejs")%>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form class="pt-5 bg-white" action="/userAdmin/save_user_admin_mess_details" method="post" enctype="multipart/form-data">
    <div class="container  ">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h3 class="heading  mb-4">
                <span class="background_overlp" >Mess Details</span>
            </h3>
        </div>
    </div>
      
      <div class="row">
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Enter Your Mess Name</label>
            <input type="text" class="form-control" id="" name="user_admin_mess_name" placeholder="Enter Mess Name">
          </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
              <label for="messinfo">Mess Information</label>
              <input type="text" class="form-control" id="address" name="user_admin_mess_info" placeholder="Enter Information">
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="state">Enter Mess Photo</label>
            <input type="file" class="form-control" id="state" name="user_admin_mess_photo" placeholder="Enter Mess Photo">
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
              <label for="idProof">Select The Ahmednagar Area</label>
              <select class="form-control border" id="idProof" name="user_admin_mess_area">
                <option class="" value="">Choice</option>
                <option class="" value="Balika Ashram Road Area">Balika Ashram Road Area</option>
                <option class="" value="Dilhi get Area">Dilhi get Area</option>
                <option class="" value="Savidi Area">Savidi Area</option>
                <option class="" value="Paip Line Road Area">Paip Line Road Area</option>
              </select>
            </div>
          </div>  
          
      </div>
      
      <div class="row pb-4 bt-3 text-center">
        <div class="col-md-12">
          <button type="submit" class="btn text-white" style="background-color: #525187">Save</button>
        </div>
      </div>
    </div>
  </form>



  <br><br>


  <div class="container-fluid p-5 bg-white">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h3 class="heading  mb-4">
                <span class="background_overlp" >Mess Details Edit</span>
            </h3>
        </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <td></td>
            <td>Mess Name</td>
            <td>Mess Information</td>
            <td>Area</td>
            <td>Mess Photo</td>
          </tr>
          <% for(var i=0;i<mess_details_store_data.length;i++) { %>
            <tr>
              <td>
                <a style="text-decoration: none;" class="bg-white" href="/userAdmin/edit_mess_details_store_data/<%=mess_details_store_data[i].user_admin_mess_details_id%>"> 
                  <button style="border: 2px solid rgb(62, 96, 190);border-radius: 3px;" class="btn bg-white pl-2 pr-1 pt-2 pb-2"> <i class="fa fa-edit" style="color: rgb(62, 96, 190);"></i> </button> 
              </a>
              
            </td>  
                       
                <td><%=mess_details_store_data[i].user_admin_mess_name%></td>
                <td><%=mess_details_store_data[i].user_admin_mess_info%></td>
                <td><%=mess_details_store_data[i].user_admin_mess_area%></td>
                <td>
                  <img src="/uploads/<%=mess_details_store_data[i].user_admin_mess_photo%>" width="50px"/>
                </td>
                
            </tr>
        <% } %>
        </table>
      </div>
    </div>
  </div>


<%- include("Footer.ejs")%>