<%- include("Navbar.ejs")%>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form class="pt-5 bg-white" action="/userAdmin/save_mess_blogs" method="post" enctype="multipart/form-data">
    <div class="container  ">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h3 class="heading  mb-4">
                <span class="background_overlp" >Mess Blog</span>
            </h3>
        </div>
    </div>
      
      <div class="row">
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Blog Image</label>
            <input type="file" class="form-control" id="" name="mess_blog_images" placeholder="Enter Mess Name">
          </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
              <label for="messinfo">Blog Heading</label>
              <input type="text" class="form-control" id="address" name="mess_blog_heading" placeholder="Enter Blog Heading">
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="state">Blog Description</label>
            <input type="text" class="form-control" id="state" name="mess_blog_description" placeholder="Enter Blog Description">
          </div>
        </div>
        
          
      </div>
      
      <div class="row pb-4 bt-3 text-center">
        <div class="col-md-12">
          <button type="submit" class="btn text-white" style="background-color: #525187">Save Blogs</button>
        </div>
      </div>
    </div>
  </form>


  <br><br>


  <div class="container-fluid p-5 bg-white">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h3 class="heading  mb-4">
                <span class="background_overlp" >Mess Blogs List</span>
            </h3>
        </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <td></td>
            <td>SNO</td>
            <td>Blog Heading</td>
            <td>Blog Description</td>
            <td>Blog Image</td>
          </tr>
          <% for(var i=0;i<mess_blog_data.length;i++) { %>
            <tr>
              <td>
                <a style="text-decoration: none;" class="bg-white" href="/userAdmin/edit_mess_blog/<%=mess_blog_data[i].mess_blogs_id%>"> 
                  <button style="border: 2px solid rgb(62, 96, 190);border-radius: 3px;" class="btn bg-white pl-2 pr-1 pt-2 pb-2"> <i class="fa fa-edit" style="color: rgb(62, 96, 190);"></i> </button> 
              </a>
              <a style="text-decoration: none;" class="bg-white" href="/userAdmin/delete_mess_blog/<%=mess_blog_data[i].mess_blogs_id%>"> 
                <button style="border: 2px solid red;border-radius: 3px;" class="btn bg-white pl-2 pr-1 pt-2 pb-2"> 
                  <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                </button> 
              </a>
            </td> 
                <td><%=i+1%></td>
                <td><%=mess_blog_data[i].mess_blog_heading%></td>
                <td><%=mess_blog_data[i].mess_blog_description%></td>
                <td>
                  <img src="/uploads/<%=mess_blog_data[i].mess_blog_images%>" width="100px"/>
                </td>
            </tr>
        <% } %>
        </table>
      </div>
    </div>
  </div>




<%- include("Footer.ejs")%>